---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

figure{position: relative;}
figure:before,
figure:after {
  content: '';
  height: 50%
  width: 50%
  top: 0;
  left: 0;
  position: absolute;
}
img{
  Width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
}

<center>
    <marquee  behavior="alternate" direction="left">          
          <img src= "ferramentas.png"

          alt="GeeksforGeeks logo"> 
    </marquee>  
      
   <marquee  behavior="alternate" direction="right">         
          <img src= 
"loja.png"
          alt="GeeksforGeeks logo"> 
    </marquee>  
</center>
<img style="float:right" margim="200" width="50px" height="80px" src="ferramentas.png"/>
<img style="float:right" margim="200" width="50px" height="800px" src="loja.png"/>
<img style="float:right" margim="200" width="50px" height="800px" src="chave.png"/>
<img style="float:right" margim="200" width="50px" height="800px" src="seguranca.png"/>
