<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" background-color: #bfddf3>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
 
    {%- include footer.html -%}
    width: 600px;
  margin: 0 auto;
  background-color: #c8a2c8;
  padding: 0 20px 20px 20px;
  border: 5px solid black;font-family: "bauhaus 93";

    
  </body>

</html>
